@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Chat.css" />

<div id="ChatInbox" class="d-flex">
    <div id="Profile" class="d-inline-block col-4">
        <!-- User Profile -->
        <div id="UserSection">
            <div class="profile">
                <div class="image">
                    <img src="" />
                </div>
                <div class="name">
                    Nome da Pessoa
                </div>
            </div>
        </div>
        <!-- Contact List -->
        <div id="ContactsSection">
            <div id="Search" class="input-group">
                <i class="fas fa-search"></i>
                <input class="form-control" type="text" placeholder="Pesquise por um contato..." />
            </div>
            <div class="contact">
                <div class="header">
                    <div class="image">
                        <img src="" />
                    </div>
                    <div class="name">
                        Vinícius de Souza
                    </div>
                </div>
                <div class="preview">
                    Teste de envio de mensagem em tempo real ut...
                </div>
            </div>
        </div>
    </div>
    <div id="MessageSection" class="d-inline-block">
        <!-- Message List -->
        <div id="Messages">
            <div class="message other">
                <div class="message-box">
                    <div class="content">
                        Teste de envio de mensagem em tempo real utilizando banco não relacional.
                    </div>
                    <div class="details">
                        <div class="time">
                            @DateTime.Now.AddMinutes( -1 ).ToString( "dd/MM/yyyy hh:mm" )
                        </div>
                    </div>
                </div>
            </div>
            <div class="message self">
                <div class="message-box">
                    <div class="content">
                        Está funcionando que é uma beleza!
                    </div>
                    <div class="details">
                        <div class="time">
                            @DateTime.Now.AddMinutes( -1 ).ToString( "dd/MM/yyyy hh:mm" )
                        </div>
                        <div class="status h" data-toggle="tooltip" data-placement="left" title="Lido">
                            @*Sent / Read*@
                            <i class="fas fa-check-double"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message self">
                <div class="message-box">
                    <div class="content">
                        Ou será que...
                    </div>
                    <div class="details">
                        <div class="time">
                            @DateTime.Now.AddMinutes( -1 ).ToString( "dd/MM/yyyy hh:mm" )
                        </div>
                        <div class="status l" data-toggle="tooltip" data-placement="left" title="Enviado">
                            @*Sent / Read*@
                            <i class="fas fa-check"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="InputField" class="col-12">
            <!-- Toolbar -->
            <div class="toolpanel" style="text-align: center;">
                <ul class="d-flex justify-content-around">
                    <li class="i-emoji"><i class="fas fa-laugh-beam"></i></li>
                    <li class="i-gallery"><i class="fas fa-image"></i></li>
                    <li>Adesivos</li>
                </ul>
            </div>
            <!-- Message Input -->
            <div class="content">
                <div class="form-group d-flex">
                    <textarea id="msg-input" class="form-control" placeholder="Insira uma mensagem..."></textarea>
                    <button id="msg-send" class="btn btn-primary" type="button">Enviar</button>
                </div> 
            </div>
        </div>
    </div>
</div>
