body {
    overflow: hidden;
}

.tooltip .tooltip-inner {
    background-color: #00000044;
}

.tooltip .arrow:before {
    border-left-color: #00000044;
}

#ChatInbox {
    background-color: #EAEEEC;
}

/* Profile */
#ChatInbox #Profile {
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
    display: flex;
}

#ChatInbox #Profile .profile {
    padding: 0.4em 0.4em 0.4em 0.4em;
    border-bottom: 1px solid #00000011;
    background-color: #3397D6;
    display: flex;
    cursor: default;
}

#ChatInbox #Profile .profile .image {
    width: 48px;
    height: 48px;
    background-color: #00000011;
    border-radius: 50%;
    cursor: pointer;
}

#ChatInbox #Profile .profile .name {
    font-weight: bold;
    font-size: 22px;
    padding-left: 7px;
    line-height: 46px;
    color: #EFEFEF;
}

/* Search */


/* Contacts */
#ChatInbox #Profile #ContactsSection {
    padding-left: 0;
    padding-right: 0;
    border-left: 1px dotted #00000022;
    border-right: 1px dotted #00000022;
    height: 90vh;
}

#ChatInbox #Profile #ContactsSection #Search {
    margin: 0;
}

#ChatInbox #Profile #ContactsSection #Search.input-group {
    border-bottom: 1px solid #00000011;
}

#ChatInbox #Profile #ContactsSection #Search.input-group input {
    border: none;
    border-radius: 0;
    padding-left: 26px;
    z-index: 0;

    transition: background-color 0.09s ease-out;
}

#ChatInbox #Profile #ContactsSection #Search.input-group i {
    display: block;
    position: absolute;
    left: 6px;
    top: 11px;
    color: #00000033;
    z-index: 2;
}

#ChatInbox #Profile #ContactsSection .contact {
    cursor: pointer;
    border-bottom: 1px dotted #00000022;
    padding: 0.4em;

    transition: background-color 0.09s ease-out;
}

#ChatInbox #Profile #ContactsSection .contact:hover {
    background-color: #00000011;
}

#ChatInbox #Profile #ContactsSection .contact .header {

}

#ChatInbox #Profile #ContactsSection .contact .header .image, #ChatInbox #Profile #ContactsSection .profile .image {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    background-color: #00000022;
}

#ChatInbox #Profile #ContactsSection .contact .header .name, #ChatInbox #Profile #ContactsSection .profile .name {
    display: inline-block;
}

#ChatInbox #Profile #ContactsSection .contact .preview {
    
}

/* Messages */
#ChatInbox #MessageSection {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 100vh;
    border-right: 1px dotted #00000011;
}

#ChatInbox #MessageSection #Messages {
    padding: 0 20px 132px 20px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: default;
}

#ChatInbox #MessageSection #Messages::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#ChatInbox #MessageSection #Messages .message {
    /*display: block;
    width: 100%;*/
    max-width: 40%;
    break-before: always;
}

#ChatInbox #MessageSection #Messages .message.self {
    margin-left: auto;
    text-align: right;
}

#ChatInbox #MessageSection #Messages .message .details {
    padding: 2px 2px 0 2px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    height: 17px;
}

#ChatInbox #MessageSection #Messages .message .details .time {
    font-weight: 400;
    text-align: left;
}

#ChatInbox #MessageSection #Messages .message .details .time {
    font-size: 0.8em;
    font-weight: 400;
    text-align: left;
    padding-top: 2px;
}

#ChatInbox #MessageSection #Messages .message.self .message-box {
    background-color: #3397D6;
}

#ChatInbox #MessageSection #Messages .message.other .message-box {
    background-color: #F6AE50;
}

#ChatInbox #MessageSection #Messages .message .message-box{
    display: inline-block;
    border-radius: 10px;
    padding: 4px 8px 8px 8px;
    margin: 18px 0;
}

#ChatInbox #MessageSection #Messages .message .message-box .time {

}

#ChatInbox #MessageSection #Messages .message .message-box .content {
    line-height: 22px;
    word-break: break-word;
    text-align: justify;
}

#ChatInbox #MessageSection #Messages .message .message-box .status {
    padding-left: 12px;
}

#ChatInbox #MessageSection #Messages .message .message-box .status.l {
    color: #FFFFFF55;
}

#ChatInbox #MessageSection #Messages .message .message-box .status.h {
    color: #FFFFFF77;
}

/* Message input */
#ChatInbox #MessageSection #InputField {
    width: 100%;
    height: 132px;
    border-top: 1px dotted #00000022;
    padding-bottom: 15px;
    position: sticky;
    bottom: 0;
    background-color: #EAEEEC;
}

#ChatInbox #MessageSection #InputField .toolpanel {
    width: 100%;
    height: 30px;
    margin: 4px 0;
}

#ChatInbox #MessageSection #InputField .toolpanel ul {
    height: 100%;
}

#ChatInbox #MessageSection #InputField .toolpanel ul, #ChatInbox #MessageSection #InputField .toolpanel ul li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#ChatInbox #MessageSection #InputField .toolpanel ul li {
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    line-height: 1.3em;
}

#ChatInbox #MessageSection #InputField .toolpanel ul li.i-emoji {
    color: #26C21A;
}

#ChatInbox #MessageSection #InputField .toolpanel ul li.i-gallery {
    color: #5175e9;
}

#ChatInbox #MessageSection #InputField .content {
    display: block;
    height: 82px;
}

#ChatInbox #MessageSection #InputField .content .form-group {
    height: 100%;
    margin-bottom: 0;
}

#ChatInbox #MessageSection #InputField .content #msg-input {
    height: 100%;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    resize: none;
    z-index: 2;
}

#ChatInbox #MessageSection #InputField .content #msg-send {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 100px;
    max-width: 30%;
    z-index: 1;
}